@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/font3.ttf);
}

:root {
  --primary-color: #1a1a1a;
  --secondary-color: #f20d33;
  --light-color: #fff;
  --info-color: #ffdb2f;
  --tertiary-color: #adb5bd;
  --overlay: rgba(0, 0, 0, 0.7);
  --primary-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*:before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  position: relative;
  font-family: var(--primary-font);
}

header {
  width: 100%;
  position: fixed;
  padding: 2rem;
  color: var(--light-color);
  z-index: 9;
}

nav {
  display: flex;
  gap: 1rem;
}

main {
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

button {
  background: none;
  border: none;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  z-index: -9;
  pointer-events: none;
}
