@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/font3.ttf);
}

:root {
  --primary-color: #1a1a1a;
  --secondary-color: #f20d33;
  --light-color: #fff;
  --info-color: #ffdb2f;
  --tertiary-color: #adb5bd;
  --overlay: rgba(0, 0, 0, 0.7);
  --primary-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*:before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  position: relative;
  font-family: var(--primary-font);
}

header {
  width: 100%;
  position: fixed;
  padding: 2rem;
  color: var(--light-color);
  z-index: 9;
  transition: all 0.5s ease;
}

header.hide {
  opacity: 0;
  transform: translateY(-50px);
}

nav {
  display: flex;
  gap: 1rem;
}

main {
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

button {
  background: none;
  border: none;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  z-index: -9;
  pointer-events: none;
}

p.flip {
  margin-top: 24px;
  position: relative;
  display: block;
  width: 100%;
}

p.flip:after {
  position: absolute;
  bottom: 4px;
  left: -100px;
  right: 0;
  content: "";
  width: 40px;
  height: 1px;
  background: var(--secondary-color);
  margin: 0 auto;
}

p.flip:before {
  position: absolute;
  bottom: 4px;
  left: 100px;
  right: 0;
  content: "";
  width: 40px;
  height: 1px;
  background: rgb(242, 13, 51);
  margin: 0 auto;
}

p.flip span {
  position: absolute;
}

p.flip span.deg1 {
  position: absolute;
  bottom: 2px;
  left: -30px;
  right: 0;
  width: 6px;
  height: 6px;
  content: "";
  background: var(--secondary-color);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 auto;
}

p.flip span.deg2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  content: "";
  background: var(--secondary-color);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 auto;
}

p.flip span.deg3 {
  position: absolute;
  bottom: 2px;
  left: 30px;
  right: 0;
  width: 6px;
  height: 6px;
  content: "";
  background: var(--secondary-color);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 auto;
}
